<!DOCTYPE html>
 2   <html>
 3   <head>
 4   <meta charset="utf-8" />
 5   
 6   <title>试验</title>
 7   
 8   <script type="text/javascript" src="jquery-1.8.3.js"></script>
 9   <script type="text/javascript" src="angular.js"></script>
10   
11   </head>
12   <body>
13     <div ng-controller="BoxCtrl">
14       <div style="width: 100px; height: 100px; background-color: red;"
15            ng-click="click()"></div>
16       <p>{{ w }} x {{ h }}</p>
17       <p>W: <input type="text" ng-model="w" /></p>
18       <p>H: <input type="text" ng-model="h" /></p>
19     </div>
20   
21   
22   <script type="text/javascript" charset="utf-8">
23   
24   
25   var BoxCtrl = function($scope, $element){
26   
27     //$element 就是一个 jQuery 对象
28     var e = $element.children().eq(0);
29     $scope.w = e.width();
30     $scope.h = e.height();
31   
32     $scope.click = function(){
33       $scope.w = parseInt($scope.w) + 10;
34       $scope.h = parseInt($scope.h) + 10;
35     }
36   
37     $scope.$watch('w',
38       function(to, from){
39         e.width(to);
40       }
41     );
42   
43     $scope.$watch('h',
44       function(to, from){
45         e.height(to);
46       }
47     );
48   }
49   
50   angular.bootstrap(document.documentElement);
51   </script>
52   </body>
53   </html>